# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/src/IMG_20220219_180602 (1).jpg
/src/Ravit.jpg
/src/Rent_apartment_finder1.jpg
/src/Rent_apartment_finder2.jpg
/src/Rent_apartment_finder3.jpg
/src/Rent_apartment_finder1.png
/src/Rent_apartment_finder2.png
/src/Rent_apartment_finder3.png
/src/Kideapp.PNG
/src/Kideapp.jpg
/src/Pikis_hornet.jpg
/src/Pikis_jp.jpg
/src/Pikis_urheilu.jpg




# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
