body {
    background: linear-gradient(135deg, #f0f0f0, #d3d3d3);
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    color: #333; 
  }

.about-font {
font-size: 1.125em;
position: relative;
top: 5vh; 
}

.p {
line-height: 1.6;
}
  
.styled-table {
border-collapse: collapse;
margin: 25px 0;
font-size: 0.9em;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
position: relative;
top: 5vh;
}

.styled-table thead tr {
background-color: #009879;
color: #ffffff;
text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
border-bottom: 2px solid #009879;
}

.imgabout {
    width: 30vw; 
    height: auto; 
    position: relative;
    left: -5.5vw;
    top: 8vh;
  }

