body {
  background: linear-gradient(135deg, #f0f0f0, #d3d3d3);
  font-family: Arial, sans-serif; 
  margin: 0;
  padding: 0;
  color: #333; 
}

.language-switcher {
  display: flex;
  align-items: center;
}

.language-switcher button {
  margin-right: 10px;
}

.navbar {
  background-color: #009879;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.navbar .nav-item {
  font-size: 22px;
  color: #ffffff; 
  padding: 0.5px 15px; 
}

.navbar .nav-item:hover {
  background-color: #007766; 
}

.navbar a.nav-link {
  color: #ffffff; 
  text-decoration: none;
}

.navbar .nav-item a {
  color: #ffffff; 
}

.navbar .nav-item a:hover {
  color: #005550;
}


.about-font {
  font-size: 18px;
  position: relative;
  top: 5vh;  
}

.p {
  line-height: 1.6;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  position: relative;
  top: 5vh;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}


.text-left {
  position: relative;
  left: 350px;
  font-size: 60px;
}

.text {
  position: relative;
  font-size: 18px;
  padding-left: 1vw;
}

.header {
  position: relative;
  font-size: 20px;
  padding-left: 1vw;
}



.imgabout {
  width: 30vw; 
  height: auto; 
  position: relative;
  left: -5.5vw;
  top: 8vh;
}


.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.columnabout {
flex: 50%;
padding: 5px;
}

.styled-list {
  margin: 25px 0;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  position: relative;
}

.styled-list li {
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd;
  background-color: #f3f3f3;
}

.styled-list li:nth-child(even) {
  background-color: #f3f3f3;
}

.styled-list li:last-child {
  border-bottom: 2px solid #009879;
}

.styled-button {
  padding: 12px 15px;
  background-color: #009879;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-button:hover {
  color: #005550;  
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}