body {
  background: linear-gradient(135deg, #f0f0f0, #d3d3d3);
  font-family: Arial, sans-serif; 
  margin: 0;
  padding: 0;
  color: #333; 
}

.nav-item {
  font-size: 22px;
  color: #333; 
  margin-bottom: -0.1vh;
}

.navbarScroll {
  background-color: grey;
}

.about-font {
  font-size: 18px;
  position: relative;
  top: 5vh;  

}

.p {
  line-height: 1.6;
}

table {
  border: 1px solid black;
  font-size: 18px;
  border-spacing: 16px;
  table-layout: fixed;
  position: relative;
  width: 100%;
  top: 5vh;  
}


.text-left {
  position: relative;
  left: 350px;
  font-size: 60px;
}

.text {
  position: relative;
  font-size: 18px;
  padding-left: 1vw;
}

.header {
  position: relative;
  font-size: 20px;
  padding-left: 1vw;
}



.imgabout {
  width: 30vw; 
  height: auto; 
  position: relative;
}


.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.columnabout {
  flex: 50%;
  padding: 5px;
}





@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}