body {
  background: linear-gradient(135deg, #f0f0f0, #d3d3d3);
  font-family: Arial, sans-serif; 
  margin: 0;
  padding: 0;
  color: #333; 
}

.nav-item {
  font-size: 45px;
  color: #333; 
  margin-bottom: 10px;
}

.navbarScroll {
  background-color: grey;
}

.about-font {
  font-size: 40px;
  position: relative;
  top: 150px;
  left: -400px;
  max-width: 1600px;
}


.snapshots {position: relative;
}
.p {
  line-height: 1.6;
}


table {
  border: 1px solid black;
  font-size: 40px;
  border-spacing: 30px;
  table-layout: fixed;
  position: relative;
  left: 350px;
}


.text-left {
  position: relative;
  left: 350px;
  font-size: 60px;
}



.imgabout {
  width: 800px; 
  height: auto; 
  position: relative;
}


.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  padding-left: 50px;
}




@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}